<%= paginator.render do %>
  <nav class="flex items-center justify-center flex-wrap gap-1 mt-6" aria-label="ページネーション">
    <%= first_page_tag unless current_page.first? %>
    <%= prev_page_tag  unless current_page.first? %>
    <% each_page do |page| %>
      <% if page.display_tag? %>
        <%= page_tag page %>
      <% else %>
        <%= gap_tag %>
      <% end %>
    <% end %>
    <%= next_page_tag unless current_page.last? %>
    <%= last_page_tag unless current_page.last? %>
  </nav>
<% end %>
