<%= form_with(model: report, class: "contents") do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation" class="bg-error-red text-white px-3 py-2 font-medium rounded-button mt-3">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul class="list-disc ml-6">
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :student_id, "生徒", class: "block text-caption-bold text-olive-gray" %>
    <%= form.collection_select :student_id, @students, :id, :name, { prompt: "生徒を選択してください" }, class: "mt-1 block w-full rounded-button border border-warm-silver py-2.5 px-3.5 text-plum-black shadow-sm focus:border-focus-blue focus:ring-focus-blue sm:text-body" %>
  </div>

  <div class="my-5">
    <%= form.label :learning_date, "学習日", class: "block text-caption-bold text-olive-gray" %>
    <%= form.date_field :learning_date, class: "mt-1 block w-full rounded-button border border-warm-silver py-2.5 px-3.5 text-plum-black shadow-sm focus:border-focus-blue focus:ring-focus-blue sm:text-body" %>
  </div>

  <div class="my-5">
    <%= form.label :content, "内容", class: "block text-caption-bold text-olive-gray" %>
    <%= form.text_area :content, rows: 10, class: "mt-1 block w-full rounded-button border border-warm-silver py-2.5 px-3.5 text-plum-black shadow-sm focus:border-focus-blue focus:ring-focus-blue sm:text-body" %>
  </div>

  <div class="inline">
    <%= form.submit class: "flex w-full justify-center rounded-button bg-pinterest-red py-1.5 px-3.5 text-body font-normal leading-6 text-black shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pinterest-red" %>
  </div>
<% end %>
