<% content_for :title, "Reports" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-section-heading text-plum-black">日報一覧</h1>
    <%= link_to "新規日報", new_report_path, class: "rounded-button px-3.5 py-2.5 bg-pinterest-red hover:bg-red-700 text-black block font-normal text-button" %>
  </div>

  <div id="reports" class="min-w-full divide-y divide-gray-200 space-y-5 mt-8">
    <% if @reports.any? %>
      <% @reports.each do |report| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render report %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "詳細", report, class: "w-full sm:w-auto text-center rounded-button px-3.5 py-2.5 bg-sand-gray hover:bg-warm-light text-black inline-block font-normal text-button" %>
            <% if current_user == report.user %>
              <%= link_to "編集", edit_report_path(report), class: "w-full sm:w-auto text-center rounded-button px-3.5 py-2.5 bg-sand-gray hover:bg-warm-light text-black inline-block font-normal text-button" %>
              <%= button_to "削除", report, method: :delete, class: "w-full sm:w-auto rounded-button px-3.5 py-2.5 text-black bg-error-red hover:bg-red-700 font-normal text-button cursor-pointer", data: { turbo_confirm: "本当に削除しますか？" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10 text-olive-gray text-body">日報はまだありません。</p>
    <% end %>
  </div>
</div>
